body{
    background-color: #051e60!important;
    padding-top: 50px!important;
    background-image: url("images/bg-professional.jpg")!important;
    background: size 100;
    background-position: bottom!important;
    background-repeat: no-repeat!important;
}

.white-button{
    box-shadow: 0 0 0 0px #fbbd08 inset!important;
    font-size: 1.2rem!important;
    color: #fff!important;
    background-color: transparent!important;
    font-weight: normal!important;
}
.font16{font-size: 1.2rem!important}
.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item {
    color: rgba(255,255,255,1)!important;
}

.ui.basic.yellow.button, .ui.basic.yellow.buttons .button {
    box-shadow: 0 0 0 1px #fbbd08 inset!important;
    color: #fff600!important;
}

.ui.menu {
    font-size: 1.2rem!important;
}

.ui.tabular.menu {
    border-bottom: 1px solid #fff!important;
    font-size: 22px!important;
}
.ui.tabular.menu .item {
    background-color: #828fb0!important;
    color: #c7ccda!important;
    border-radius: .28571429rem .28571429rem 0 0!important;
}
.ui.tabular.menu .active.item {
    background: none #fff!important;
    border-color: #fff!important;
    color: #000000!important;
    border-radius: .28571429rem .28571429rem 0 0!important;
    font-weight: normal!important;
    
}

.ui.secondary.inverted.pointing.menu {
     border-width: 0px!important; 
     border-color: rgba(34,36,38,.0); 
}
.inline{display: inline-block!important;}

.ui.secondary.pointing.menu {
    margin-left: 0;
    margin-right: 0;
     border-bottom: 0px solid rgba(34,36,38,.15); 
}

.ui.secondary.inverted.pointing.menu .active.item {
    border-color: #fff600!important;
    color: #fff!important;
}

.ui.yellow.button, .ui.yellow.buttons .button {
    background-color: #fff600!important;
    color: #000!important;
}

.register-content-box-height{
    min-height: 461px!important;
}
.itemlink{
    width: 100%;
    text-align: center;
    display: block!important;
    margin-top: 10px;
}
.home-content{
    margin-top: 150px;
}
.home-content h1{
    color: #fff600!important;
    margin-bottom: 0px!important;
    text-align: center!important;
}
.home-content h3{
    color: #fff!important;
    margin-top: 0px!important;
    text-align: center!important;
}
.pad20{padding: 20px!important}
.pad30{padding: 30px!important}

.padb10{padding-bottom: 10px!important}
.padb15{padding-bottom: 15px!important}
.padb20{padding-bottom: 20px!important}
.padb40{padding-bottom:60px!important}

.mrgb5{margin-bottom: 5px!important;}
.mrgt30{margin-top: 30px!important}
.mrgt40{margin-top: 40px!important}
.mrgb40{margin-bottom: 40px!important}
.mrgb20{margin-bottom: 20px!important}

.menu {
    /*display: table!important;*/ /* [1] */
    table-layout:auto; /* [2] */
    
}
.fit-content{
    width: fit-content!important;
}

.ui.button {
    min-width: 120px!important;
}

    .item {
        display: table-cell!important; /* [4] */
    }


@media screen and (max-width: 600px) {
    body {
        padding-top: 20px!important;
    }
    .home-content{
        margin-top: 20px;
    }
    .ui.tabular.menu {
        border-bottom: 1px solid #fff!important;
        font-size: 16px!important;
    }
  }